.profile_image{
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    animation: profile__animate 8s ease-in-out infinite 0ms;
}

@keyframes profile__animate{
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

.journey_card_base::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 44px;
    width: 2px;
    color: #e1effe;
}





primary {
    light: #3f83f8;
    dark: #2c5282;
  }
secondary{
    light: #4299e1;
    dark: #2b6cb0; 
}
text {
    light: #4a5568;
    dark: #e2e8f0; 
}
background {
    light: #f7fafc;
    dark: #1a202c; 
}
accent {
    light: #e2e8f0;
    dark: #4a5568; 
}
